
body {
  background: #FFFFFF;
}


/*================================= 1st section =================================*/
.first_section{
  padding: 2px;
}

.bg_main{
  background-image: url("./content/section1/business-bright-colorful-advertisment-model\ 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 800px;
  border-radius:40px;
}

.main_header{
  font-family: "Syne";
  font-size: 60px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;
  padding-top: 3%;
}

.main_menu_lg{
  width:200px;
  height:300px;
  position: absolute;
  z-index: 100;
  top:30px;
  left:50px;
  font-family: Brotesk (Trial);
  font-size: 24px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-align: left;
  color:#F7F5F5;
}

.order_btn_top{
  width:200px;
  height:50px;
  position: absolute;
  z-index: 100;
  top:30px;
  right:50px;
  background: red;
  font-family: Brotesk (Trial);
  font-size: 24px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-align: left;
  color:#F7F5F5;
  border: 3px solid white;
  border-radius: 40px;
  padding-top: 10px;
  text-align: center;
}

.order_btn_top:hover{
  color: red;
  background: white;
}

@media screen and (max-width: 734px) {
  .bg_main{
    background-image: url("./content/section1/business-bright-colorful-advertisment-model_mobile.png");
  }
  .main_component_text_bold{
    font-size: 60px !important;
    font-weight: 300 !important;
  }
  .order_btn_top{
    width: 0;
    height:0;
    border:0px;
  }
}

@font-face{
  font-family: 'Transforma Mix_Trial';
  src: url('./content//Fonts/transforma/TransformaMix_Trial-Regular.woff');
}

.main_component_text_bold{
  width:99%;
  height:150px;
  position: absolute;
  z-index: 100;
  bottom:180px;
  left:30px;
  font-family: "Transforma Mix_Trial";
  font-size: 120px;
  font-weight: 600;
  line-height: 120px;
  text-align: left;
  color: #F7F5F5;
}
.main_component_text_small{
  width:99%;
  height:150px;
  position: absolute;
  z-index: 100;
  bottom:-60px;
  left:30px;
  max-width: 1200px;
  font-family: "Mustica Pro";
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: #F7F5F5;
}

.my_menu_btn{
  background-image: url("./content/section1/Vector_main_menu.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 5px;
  width: 24px;
  height: 24px;
}

.my_mobile_menu{
  background: white;
   border: 1px solid black;
   border-radius: 40px;
   width:100%;
   height: 100%;
   text-align: center;
}
.my_mobile_menu_items{
  text-align: center;
  margin-left: 50%;
  padding-left: 45%;
}
#commit_close_menu{
  padding-bottom: 50px;
  padding-top: 20px;
  font-weight: bold;
}
#commit_menu_last_item{
  padding-bottom: 50px;
}

.close_x_item{
  position: absolute;
  z-index: 100;
  top:80px;
  left:50px;
} 

/* ================================= 2nd section ======================================*/
.second_section{
  padding: 2px;
}

.img_rounded{
  border-radius: 24px;
}

.margin_left_for_keyboard{
  margin-left: 2%;
  margin-right: 2%;
  width:100%;
}
.mg_top_4{
  margin-top:4% !important;
}

.bg_milk{
  background-color: #F7F5F5;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  text-align: center;
  
  margin: 2%;
  padding: 2%;
}

.red_capital_text_on_buttons{
  font-family: "Mustica Pro";
  font-size: 68px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: #E3000B;
}

.black_small_text_on_buttons{
  font-family: "Mustica Pro";
  font-size: 34px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
}

@media screen and (min-width: 734px) {
  /* body {
    background-color: lightgreen !important;
  } */
  .height_md_0{
    height:100%;
  }
  .height_md_100{
    height:0;
    margin: 0;
    padding: 0;
  }
  
}
@media screen and (max-width: 734px) {
  /* body {
    background-color: gray !important;
  } */
  .height_md_100{
    height:100;
    width: 100%;
    /* margin: 6% !important; */
    padding: 1% !important;
  }
  .height_md_0{
    height:0;
    margin: 0;
    padding: 0;
  }
}

/*================================= 3rd section =================================*/
.third_section{
  padding: 2px;
}


.cases{
  font-family: "  ";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #E3000B;
  margin-left: 5%;
}

.text_small_3rd_section{
  font-family: "Darker Grotesque";
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #606060;
}

@font-face{
  font-family: 'Mustica Pro';
  src: url('./content//Fonts/Mustica Pro/MusticaproSemibold.otf');
}

.boldtext{
  font-family: "Mustica Pro";
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  
  width: 365px;
  height: 96px;
  gap: 0px;
  opacity: 0px;
}

.boldtext1{
  font-family: "Mustica Pro";
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;

  gap: 0px;
  opacity: 0px;
}

/*================================= 4th section =================================*/

.fourth_section{
  padding-left: 5%;
  padding-right: 5%;
}

.first_slide{
  background-image: url("./content/section3carousel/frame1631/case1/Background1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
}

.first_slide_text_background{
  background-color: darkred;
  height: 200px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 1%;
}

.first_slide_bold_text{
  font-family: "Mustica Pro";
  font-size: 64px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: #F7F5F5;
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.first_slide_small_text{
  font-family: "Darker Grotesque";
  font-size: 30px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #F7F5F5;
  margin-top: 1%;
  margin-left: 5%;
  
}

/* Carousell */
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  .carousel {
    /* max-width: 37.5rem; */
    margin: 0 auto;
    padding: 0 ;
    height: 100%;
    border-radius: 24px ;
    /* font-family: 'Lato', sans-serif; */
  }
  
  .carousel>*::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  
  .carousel>*::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .carousel>*::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border-radius: 24px;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
    z-index: 100;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
    z-index: 100 !important;
  }
  
  .carousel::before,
  .carousel__prev {
    left: +1rem;
    z-index: 100;
  }
  
  .carousel::after,
  .carousel__next {
    right: +1rem;
    z-index: 100;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    border: 4px solid #FFFFFF;
    /* background-color: #333; */
    background-color: transparent;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    /* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E"); */
    background-image: url(./content/section3carousel/frame1631/Vector.svg);
  }
  
  .carousel::after {
    background-image: url(./content/section3carousel/frame1631/Vector1.svg);
    /* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E"); */
  }
  /* /////////////////////////////////////////////////////////////////// */

  /* =================================== footer ============================================== */

  .footer_wrapper{
    background-color: #171313;
    color: white;
  }

  .logo_footer{
    padding-left: 50px;
    padding-top: 30px;
  }
  .footer_gray_text{
    color: #606060;
    padding-left: 50px;
  }
  hr.solid {
    border-top: 3px solid #bbb;
  }
/* 
  .footer_gray_text_copiright{
    
  } */
